<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-row>
        <ion-col>
          <ion-app type="email"
          label="Email"
          labelPlacement="floating"
          placeholder="omar@gmail.com">     
          </ion-app>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          
          <ion-app type="password"
          label="Password"
          labelPlacement="floating"
          placeholder="********">   
          </ion-app>
        
        </ion-col>
      </ion-row>
       <ion-row>
        <ion-button type = "submit"
                   color="primary">
                  iniciar sesion 
                  </ion-button>
        </ion-row>
    </ion-card-content>
  </ion-card>
</ion-content>